.attribute-list {
  display: flex;
  flex-direction: column;
}

.attribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  background: linear-gradient(45deg, var(--Accent1) 45%, #eee 45%);
  padding: 0.5em 1em;
  width: 100%;
  font-size: 0.9em;
}

.attribute * {
  margin: 0;
}
