:root {
  --Accent1: #119da4;
  --Accent2: #08838a;
  --Accent3: #0ee2ed;
  --Accent4: #a9b576;
  --Accent5: #d7d9ce;

  --MainBG: #253436;

  --LightTextColor: #eee;

  --PanelBackground: white;
  --PanelBackgroundDark: #eee;

  --MaxCardWidth: 470px;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--MainBG);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

li {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Accent1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 1em 2em;
  color: var(--LightTextColor);
  background: var(--Accent1);
  border-radius: 8px;
}
button:hover {
  filter: brightness(110%);
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-list > * {
  width: 20%;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-centered-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-list-column {
  display: flex;
  flex-direction: column;
}

.grid-list {
  width: 90%;
  margin: 5vh auto;
  display: grid;
  gap: 1em;
  justify-content: space-between;
}

.two-cols {
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
}
.two-cols.sixty-forty {
  grid-template-columns: 60% auto;
}
.four-cols {
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-container input {
  font-size: 1.5em;
  margin: 5em 0 3em 0;
  padding: 0.5em 1em;
  border-radius: 120px;
  width: 500px;
  outline: none;
}

.panel {
  background: var(--PanelBackground);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.padding-1em {
  padding: 1em;
}
.padding-2em {
  padding: 2em;
}

.center-text {
  text-align: center;
}

.gap-1em {
  gap: 1em;
}
.gap-2em {
  gap: 2em;
}

.scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.container-with-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #253436aa;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 5;
}
.overlay > p {
  font-size: 1.3em;
  text-align: center;
  color: #eee;
}
.overlay.active {
  opacity: 1;
}
.overlay:hover {
  opacity: 1;
}

.hide {
  display: none;
}

.info-panel {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  position: relative;
  gap: 2em;
  padding: 2em;
}

.info-panel-title {
  grid-column: 1 / 3;
  display: flex;
  gap: 3em;
}
.info-panel-title > h2 {
  font-weight: 400;
  font-size: 2em;
}
.close-button {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  width: auto;
  font-size: 2em;
  margin: 0;
  color: #555;
  cursor: pointer;
}

.display-none {
  display: none;
}

.title {
  margin: 1em 0;
}

.text-accent2 {
  color: var(--Accent2);
}
.text-light {
  color: var(--LightTextColor);
}

.relative {
  position: relative;
}

.panel-bg {
  background: var(--PanelBackground);
}

.panel-bg-dark {
  background: var(--PanelBackgroundDark);
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 20px;
  }
  .grid-list-4-cols {
    grid-template-columns: 50% 50%;
  }

  .info-panel {
    grid-template-columns: 100%;
  }
  .info-panel-title {
    grid-column: 1;
  }

  .two-cols {
    grid-template-columns: 100%;
  }

  .two-cols.sixty-forty {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 550px) {
  .grid-list-4-cols {
    grid-template-columns: 100%;
  }
}
