:root {
  --Accent1: #119da4;
  --Accent2: #08838a;
  --Accent3: #0ee2ed;
  --Accent4: #a9b576;
  --Accent5: #d7d9ce;

  --MainBG: #253436;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--MainBG);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

li {
  margin: 0;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-list > * {
  width: 20%;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-centered-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padding-1em {
  padding: 1em;
}
.padding-2em {
  padding: 2em;
}

.center-text {
  text-align: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #253436aa;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.overlay > p {
  font-size: 1.3em;
  text-align: center;
  color: #eee;
}
.overlay.active {
  opacity: 1;
}

.hide {
  display: none;
}

.info-panel {
  display: none;
  margin: 1em 1em 1em 1em;
  padding: 2em;
}

.info-panel.active {
  display: flex;
}

.info-panel > * {
  margin: 0 1em;
}

.title {
  margin: 1em 0;
}

.text-accent2 {
  color: var(--Accent2);
}

@media screen and (max-width: 1200px) {
  .flex-list > * {
    width: 45%;
  }
}
