.moves-list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.moves-list .move:nth-child(even) {
  background: #eee;
}

.move {
  padding: 0.5em;
}
