.pokemon-card {
  display: flex;
  flex-direction: column;
  background: #ffffffee;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: grid-column 0.2s ease-in-out;
}

.pokemon-card.mini {
  max-width: 150px;
  font-size: 0.7em;
}

.pokemon-card .img-container {
  position: relative;
  background: var(--Accent1);
  width: 100%;
  display: flex;
}

.pokemon-card img {
  margin: 0 auto;
  align-self: center;
  max-width: var(--MaxCardWidth);
  width: 100%;
}

.pokemon-card > .id {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  z-index: 4;
}

.pokemon-card-grid .img-container {
  height: 100%;
  background: var(--Accent1);
  display: flex;
  align-items: center;
}

.default-cursor {
  cursor: default;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
  .pokemon-card .img-container {
    width: 100%;
    max-width: 100%;
  }
}
